html,body{
  height:100%;
}
body{
  font:12px \5fae\8f6f\96c5\9ed1;
  background: url(../img/body-background.png) #eae6d1;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
#header {
  padding: 25px 0px 20px 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  background: #4276b6;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  min-height: 56px;
}
#header h1 {
  top: 15px;
  left: 560px;
  position: absolute;
  font-family:"KaiTi";
  font-size: 30px;
  color: #f3f3f3;
  text-shadow: 0px 2px 0px #235796;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
header p {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}
#LPbar{
	z-index: 500;
	position: absolute;
	left: 92px;
	top: 244px;
	width: 304px;
}
#Player_LP{
	position: absolute;
	left: 52px;
	width: 120px;
	color: #ff2222;
	font-size: 18px;
	text-align: center;
	top: -28px;
}
#AI_LP{
	position: absolute;
	left: 50px;
	width: 120px;
	color: #ff2222;
	font-size: 18px;
	text-align: center;
	top: 23px;
}
#detail_image{
	z-index: 100;
	position: absolute;
	left: 490px;
	top: 233px;
	height: 254px;
	width: 177px;
}
#detail_textarea{
	z-index: 100;
	position: absolute;
	left: 671px;
	top: 233px;
	width: 161px;
	height: 250px;
	cursor:text;
	border: 1px solid #00ffff;
	background: #dddddd;
	color: #333333;
	resize:none;
}
#fields{
	z-index: 100;
	position: absolute;
	left: 11px;
	top: 19px;
	width: 478px;
	height: 478px;
}
#fields .location_mzone ,.location_szone{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 63px;
  height: 72px;
  background: #888888;
}
#fields .location_deck ,.location_extra,.location_grave,.location_removed,.location_field{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 52px;
  height: 72px;
  background: #555555;
}
#fields .location_hand{
  position: absolute;
  display: inline-block;
  border: 1px solid #00ffff;
  width: 327px;
  height: 72px;
}
#fields .location_hand:hover,.location_extra:hover,.location_grave:hover,.location_removed:hover{
  border: 1px solid #ff0000;
}
#fields .location_deck:hover{
  border: 1px solid #ff0000;
}
#fields .location_mzone:hover,.location_szone:hover,.location_field:hover{
  border: 1px solid #ff0000;
}
#fields .thumb {
  z-index: 300;
  height: 64px;
  width: 44px;
  position: absolute;
  display: inline-block;
}
#fields .equipImg {
  top: 15px;
  left: 5px;
  position: absolute;
  display: inline-block;
}
#fields .targetImg {
  top: 15px;
  left: 5px;
  position: absolute;
  display: inline-block;
}
.field_group_count{
  z-index: 400;
  top: 60px;
  width: 52px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  text-shadow: 0px 2px 0px #235796;
  color: #ffff00;
}
.monster_ad{
  z-index: 400;
  top: 55px;
  width: 64px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  text-shadow: 0px 2px 0px #235796;
  color: #ffffff;
}
table{
  width:100%;
  border-collapse:collapse;
  margin:5px 5px;
  padding: 5px 5px;
}
th, td {
  font:bold 14px  \5fae\8f6f\96c5\9ed1;
  text-align: left;
  border: 1px solid #4276b6;
  background: #64c8c8;
}
table, td{
  font:100% Arial, Helvetica, sans-serif; 
}
#center_image{
  position:relative;
  z-index:9999;
}


#apDiv1 {
    position: absolute;
    left: 199px;
    top: 259px;
    width: 85px;
    height: 20px;
    z-index: 1001;

}

#apDiv2 {
    position: absolute;
    left: 512px;
    top: 217px;
    width: 71px;
    height: 16px;
    z-index: 1002;
    cursor: pointer;
}

#apDiv3 {
    position: absolute;
    left: 637px;
    top: 216px;
    width: 36px;
    height: 21px;
    z-index: 1002;
    cursor: pointer;
}

#apDiv4 {
    position: absolute;
    left: 714px;
    top: 217px;
    width: 71px;
    height: 16px;
    z-index: 1002;
    cursor: pointer;
}

#apDiv5 {
    position: absolute;
    left: 774px;
    top: 217px;
    width: 71px;
    height: 16px;
    z-index: 1002;
    cursor: pointer;
}

#apDiv6 {
    position: absolute;
    left: 810px;
    top: 217px;
    width: 71px;
    height: 16px;
    z-index: 1002;
    cursor: pointer;
}