.ygopro {
    width: 1024px;
    height: 640px;
    background-image: url(../img/textures/bg.jpg);
}

.side {
    float: left;
    width: 304px;
    /*background-color: gray;*/
    height: 100%;

}

.card_image {
    padding: 10px 8px 11px 8px;
    width: 177px;
    height: 254px;
    border: 1px solid;
    background: gray;
}
.replay_control{
    float:right;
    margin-right: 30px;
}
.replay_control button {
    width: 72px;
    display: block;
}
.top {
    /*float: left;*/
    height: 272px;
}

.side_tabs li{
    font-size: 12px;
}
.tab {
    height: 285px;
    overflow-y: auto;
}

.setting_action_inteval {
    border: 0;
    width: 20px;
}
/*.setting_action_inteval_slider {
    display: inline;
    width: 30px;
} */
.main {
    -webkit-perspective: 1000px;
    width: 720px;
    height: 640px;
    float: left;

}

.info {
    margin-left: 25px;
    margin-top: 20px;
    height: 100px;

    /*background-color: red;*/
}
.playerinfo .name {
    color: white;
}
.avatar {
    width: 96px;
    height: 96px;
}
.turn {
    font-size: 42px;
    font-weight: bold;
    width: 64px;
    float:left;
    text-align: center;
    background-image: -webkit-linear-gradient(bottom, transparent, white, transparent);
    color:skyblue;
}


.playerinfo.player{
    float:left;
}
.playerinfo.opponent{
    float:left;
}
.playerinfo.opponent .avatar{
    float:right
}
.playerinfo.opponent .name{
    text-align:right;
}
.lp {
    position: relative;
    width: 286px;
    height: 16px;
    color: yellow;
    border-image: url('../img/textures/lpf.png') 2

}
.lp_value {
    position: absolute;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
.lp_bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/textures/lp.png');
}

.phases {
    position: absolute;
    left: 210px;
    top: 310px;
}
.phase {
    -webkit-transition: background-color 0.5s ease;
}
.stage {
    /*background-color: pink;*/
    -webkit-perspective-origin: center center;
    transform-origin: 256px 256px;
    position: relative;
}

.field {
    position: absolute;
    height: 256px;
    width: 256px;
    background: url(../img/textures/field.png) no-repeat;
    -webkit-transform: scale(2,2) translate(116px,40px);
}

.opponent.hand {
    -webkit-transform: scale(2,2) translate3d(150px,0px, 0px);
}
.player.hand {
    -webkit-transform: scale(2,2) translate3d(150px,150px, 500px);
}

.game_card {
    width: 23px;
    height: 33px;
}
.field .game_card {
    position: absolute;
}
.hand .game_card {
    float: left;
}
.game_card_img {
    -webkit-transform-origin: left top;
    -webkit-transform: scale3d(0.125, 0.125, 0.125);
    max-width: none;
}

.zone {
    position: absolute;
}
.opponent .zone {
    -webkit-transform: rotate(180deg);
}
.opponent .zone.deck{
    left: 30px;
    top: 48px;
}

.opponent .zone.extra{
    left: 244px;
    top: 48px;
}

.opponent .zone.fieldspell{
    left: 244px;
    top: 89px;
}

.opponent .zone.graveyard{
    left: 30px;
    top: 89px;
}

.opponent .zone.removed{
    left: 30px;
    top: 130px;
}


.opponent .spelltraps.zone0 {
    left: 67px;
    top: 70px;
}
.opponent .spelltraps.zone1 {
    left: 102px;
    top: 70px;
}
.opponent .spelltraps.zone2 {
    left: 137px;
    top: 70px;
}
.opponent .spelltraps.zone3 {
    left: 172px;
    top: 70px;
}
.opponent .spelltraps.zone4 {
    left: 207px;
    top: 70px;
}
.opponent .monsters.zone0 {
    left: 67px;
    top: 110px;
}
.opponent .monsters.zone1 {
    left: 102px;
    top: 110px;
}
.opponent .monsters.zone2 {
    left: 137px;
    top: 110px;
}
.opponent .monsters.zone3 {
    left: 172px;
    top: 110px;
}
.opponent .monsters.zone4 {
    left: 207px;
    top: 110px;
}


.player .extra {
    left: 8px;
    top: 208px;
}
.player .deck {
    left: 222px;
    top: 208px;
}
.player .fieldspell {
    left: 8px;
    top: 166px;
}
.player .graveyard {
    left: 222px;
    top: 166px;
}
.player .removed {
    left: 222px;
    top: 110px;
}
.player .spelltraps.zone0 {
    left: 45px;
    top: 186px;
}
.player .spelltraps.zone1 {
    left: 80px;
    top: 186px;
}
.player .spelltraps.zone2 {
    left: 115px;
    top: 186px;
}
.player .spelltraps.zone3 {
    left: 150px;
    top: 186px;
}
.player .spelltraps.zone4 {
    left: 185px;
    top: 186px;
}
.player .monsters.zone0 {
    left: 45px;
    top: 147px;
}
.player .monsters.zone1 {
    left: 80px;
    top: 147px;
}
.player .monsters.zone2 {
    left: 115px;
    top: 147px;
}
.player .monsters.zone3 {
    left: 150px;
    top: 147px;
}
.player .monsters.zone4 {
    left: 185px;
    top: 147px;
}