.ygopro {
    width: 1024px;
    height: 640px;
    background-image: url(../img/textures/bg.jpg);
}

.side {
    float: left;
    width: 304px;
    /*background-color: gray;*/
    height: 100%;

}

.image {
    height: 256px;
}

.side_tabs li{
    font-size: 12px;
}
.tab {
    height: 305px;
    overflow-y: auto;
}
.main {
    -webkit-perspective: 1000px;
    width: 720px;
    height: 520px;
    float: left;

}

.info {
    height: 120px;
    /*background-color: red;*/
}

.stage {
    /*background-color: pink;*/
    -webkit-perspective-origin: center center;
    position: relative;
}

.game_card {
    top: 0px;
}

.field {
    position: absolute;
    height: 256px;
    width: 256px;


    background: url(../img/textures/field.png) no-repeat;
    -webkit-transform: rotateX(55deg) scale3d(2,2,2) translate3d(116px,68px,0);

}
.opponent_hand {
    position: absolute;
    white-space:nowrap;
    -webkit-transform: translate3d(0,-340px,-3000px);

    /*margin: 0 auto;
    text-align:center;*/
}
.player_hand {
    position: absolute;
    white-space:nowrap;
    -webkit-transform: translate3d(0,830px,-1600px);
}

/*.opponent_graveyard {
    position: absolute;
    -webkit-transform: translate3d(-69px,-54px,0) scale3d(0.14,0.14,0.14);
}
.opponent_deck {
    position: absolute;
    -webkit-transform: translate3d(-69px,-96px,0) scale3d(0.14,0.14,0.14);
}
*/

.player .extra {
    position: absolute;
    -webkit-transform: translate3d(-69px,97px,0) scale3d(0.125,0.125,0.125);
}
.player .deck {
    position: absolute;
    -webkit-transform: translate3d(145px,97px,0) scale3d(0.125,0.125,0.125);
}
.player .fieldspell {
    position: absolute;
    -webkit-transform: translate3d(-69px,55px,0) scale3d(0.125, 0.125, 0.125);
}
.player .graveyard {
    position: absolute;
    -webkit-transform: translate3d(145px,55px,0) scale3d(0.125, 0.125, 0.125);
}
.player .removed {
    position: absolute;
    -webkit-transform: translate3d(145px,13px,0) scale3d(0.125, 0.125, 0.125);
}
.spelltraps.zone0 {
    position: absolute;
    -webkit-transform: translate3d(-33px,74px,0) scale3d(0.125, 0.125, 0.125);
}
.spelltraps.zone1 {
    position: absolute;
    -webkit-transform: translate3d(2px,74px,0) scale3d(0.125, 0.125, 0.125);
}
.spelltraps.zone2 {
    position: absolute;
    -webkit-transform: translate3d(37px,74px,0) scale3d(0.125, 0.125, 0.125);
}
.spelltraps.zone3 {
    position: absolute;
    -webkit-transform: translate3d(73px,74px,0) scale3d(0.125, 0.125, 0.125);
}
.spelltraps.zone4 {
    position: absolute;
    -webkit-transform: translate3d(108px,74px,0) scale3d(0.125, 0.125, 0.125);
}
.monsters.zone0 {
    position: absolute;
    -webkit-transform: translate3d(-33px,36px,0) scale3d(0.125, 0.125, 0.125);
}
.monsters.zone1 {
    position: absolute;
    -webkit-transform: translate3d(2px,36px,0) scale3d(0.125, 0.125, 0.125);
}
.monsters.zone2 {
    position: absolute;
    -webkit-transform: translate3d(37px,36px,0) scale3d(0.125, 0.125, 0.125);
}
.monsters.zone3 {
    position: absolute;
    -webkit-transform: translate3d(73px,36px,0) scale3d(0.125, 0.125, 0.125);
}
.monsters.zone4 {
    position: absolute;
    -webkit-transform: translate3d(108px,36px,0) scale3d(0.125, 0.125, 0.125);
}